-r requirements.txt

# Testing
pytest>=8.3.2
pytest-cov>=5.0.0
pytest-mock>=3.14.0

# Formatting
black>=24.8.0
isort>=5.13.2

# Lint
ruff>=0.6.2
flake8>=7.1.1

# Typing
mypy>=1.11.1

# Documentation
mkdocs>=1.6.0
mkdocs-material>=9.5.32

# Coverage
coverage>=7.6.1

# Security
bandit>=1.7.9

# Complexity
radon>=6.0.1

# Build
build>=1.2.1
twine>=5.1.1
